<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-citro class="container"></app-citro>
  <!--h1>
    *  {{ title }}  *
  </h1-->
  <ul>
     <br>
     <h3>Bien venido a nuestra pagina comercial.</h3>
  </ul>  
 <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
 <!-- C:\Git\citroen\src\assets\images -->
 <!-- <img width="300" src="//paso/joshua.png">  -->
 </div>
 <div class="col-lg-3 col-sm-3"> 
 <div style="text-align:left">
  <ul>
    <br>
    <!--<li><h4>Store Online</h4></li> -->
    <button type="button" class="btn btn-outline-secondary btn-block">
      <h4>* Store Online</h4>
    </button>
    <br>
    <!-- <li><h4>Ingresa Tus Datos</h4></li> -->
    <button type="button" class="btn btn-outline-secondary btn-block">
      <h4>* Ingresa Tus Datos </h4>
    </button>
    <br>
    <!-- <li><h4>Estas Pagando en DS AUTOMIVILES</h4></li> -->
    <button type="button" class="btn btn-outline-secondary btn-block">
      <h4>* Estas Pagando en DS AUTOMIVILES </h4>
    </button>
  </ul>
</div> 
 </div>

<!--
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://servicio.citroen.cl/quedateencasa/?_ga=2.20564088.1523392352.1589322431-1117839687.1588872256">Maqueta Citroen</a></h2>
  </li>
</ul>
-->
<router-outlet></router-outlet>
